* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.index {
    background: url("../img/header.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    object-fit: contain;
}

.inicioSesion {
    background-image: url("../img/fondo.jpg");
    min-height: 480px;
}
#login {
    background-color: white;
}

a {
    text-decoration: none;
}

.visualizarPropiedades {
    width: 100%;
    height: 100%;
    color: white;
}

.administrarPropiedades {
    height: 100%;
    visibility: hidden;
    background: red;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

/*SELECTOR DE PROPIEDADES*/
.selector_propiedades {
    border-radius: 25px;
    width: 70%;
    max-width: 70%;
    min-height: 40%;
    visibility: visible;
    background-color: white;
    position: absolute;
    left: 15%;
    top: 30%;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.p_selector {
    font-weight: 600;
}

.btn_buscar {
    height: 40px;
    display: inline-block;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    padding: 0.5em 1em;
    outline: 0;
    border: none;
    background-color: #f39c12;
}
.btn_buscar:hover {
    cursor: pointer;
}
.btn_buscar::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid #f39c12;
    transform-origin: center;
    transform: scale(1);
}
.btn_buscar:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.selector {
    display: inline-block;
    font-size: 15px;
    border-color: #f39c12;
    background: white;
    padding: 0 30px 0 10px;
    width: 200px;
    height: 30px;
    border-radius: 0;
}

.selector:hover {
    background: #f39c12;
    color: white;
}

.spinner_recamaras {
    width: 200px;
    height: 30px;
    border: 1px solid #f39c12;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 15px;
}

.rango_precios {
    width: 110px;
    height: 30px;
    border: 1px solid #f39c12;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 15px;
    text-align: center;
}

/*INVENTARIO*/

#logo_inventario {
    width: 40%;
    margin: 0;
    padding: 0;
}

.selector_inventario {
    display: inline-block;
    font-size: 15px;
    border-color: #f39c12;
    background: white;
    padding: 0 10px 0 10px;
    width: 150px;
    height: 30px;
    border-radius: 0;
}

.selector_inventario:hover {
    background: #f39c12;
    color: white;
}

#ordenar_por {
    width: 25%;
    height: 1000px;
}

#barra_separadora {
    border-left: 1px solid lightgray;
    height: 500px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    font-weight: 400;
    font-size: 14px;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid lightgray;
}
input[type="radio"] + label span {
    background-color: white;
}
input[type="radio"]:checked + label {
    color: #333;
    font-weight: 700;
}
input[type="radio"]:checked + label span {
    background-color: #ff8800;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}

lista_inventario {
    width: 80%;
}

/*FORMULARIOS*/

input {
    display: block;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border: none;
    &::placeholder {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    &:hover,
    &:focus,
    &:active:focus {
        color: #ff5722;
        outline: none;
        border-bottom: 1px solid #ff5722;
        &::placeholder {
            color: #ff5722;
            position: relative;
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
    }
}

.textfield {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*ANIMACIONES*/

.animoBorderLeftRight {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.animoBorderLeftRight::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f39c12;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.animoBorderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animoTextLeft {
    height: 40px;
    width: 120px;
    text-align: center;
    overflow: hidden;
    background: #f39c12;
    position: relative;
    line-height: 40px;
    color: #fff;
}
.animoTextLeft::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #4c4e51;
    transition: transform 0.25s ease-in;
}
.animoTextLeft:hover {
    cursor: pointer;
    color: #fff;
}
.animoTextLeft:hover::before {
    transform: translateX(0);
}
.animoTextLeft span {
    position: relative;
    z-index: 1;
    display: block;
}
.animoTextLeft:hover span {
    animation: animButtonSpan 0.4s;
}
@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    35% {
        transform: translateX(20px);
        opacity: 0;
    }
    50.001% {
        transform: translateX(-20px);
    }
    60% {
        transform: translateX(0);
    }
}


/*CHECKLIST CASA*/
#todo-list{
    width:500px;
    margin:0 auto 50px auto;
    padding:50px;
    background:white;
    position:relative;
    /*box-shadow*/
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}


.todo-wrap{
    display:block;
    position:relative;
    padding-left:35px;
    /*box-shadow*/
    -webkit-box-shadow:0 2px 0 -1px #ebebeb;
    -moz-box-shadow:0 2px 0 -1px #ebebeb;
    box-shadow:0 2px 0 -1px #ebebeb;
}

input[type="checkbox"]{
    position:absolute;
    height:0;
    width:0;
    opacity:0;
    top:-600px;
}

.todo{
    display:inline-block;
    font-weight:200;
    padding:10px 5px;
    height:37px;
    position:relative;
}
    
.todo:after{
    content:'';
    display:block;
    position:absolute;
    z-index:0;
    height:18px;
    width:18px;
    top:9px;
    left:-25px;
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
    -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
    box-shadow:inset 0 0 0 2px #d8d8d8;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    /*border-radius*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
  
.todo .fa-check{
    position:absolute;
    z-index:1;
    left:-31px;
    top:0;
    font-size:1px;
    line-height:36px;
    width:36px;
    height:36px;
    text-align:center;
    color:transparent;
    text-shadow:1px 1px 0 white, -1px -1px 0 white;
}

:checked + .todo:before{
    width:100%;
}

:checked + .todo:after{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #0eb0b7;
    -moz-box-shadow:inset 0 0 0 2px #0eb0b7;
    box-shadow:inset 0 0 0 2px #0eb0b7;
}

:disabled + .todo{
    color:grey;
}

:checked + .todo .fa-check{
    font-size:20px;
    line-height:35px;
    color:#0eb0b7;
}

#inputNumCoches{
    border-bottom: none;
}